<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation User</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container{
            max-width: 600px;
            margin: 2px auto;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 5px;
            overflow: hidden;
        }
        .header{
            background-color: #4caf50;
            color: #ffffff;
            padding: 20px;
            text-align: center;
        }
        .content{
            padding: 20px;
        }
        .footer{
            background-color: #f1f1f1;
            color: #555555;
            padding: 10px;
            text-align: center;
            font-size: 12px;
        }
        .button{
            display: inline-block;
            padding: 10px 20px;
            margin: 20px 0;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            Selamat Datang!
        </div>
        <div class="content">
            <p>Halo <%= username %>, </p>
            <p>
                Terima kasih telah daftar! Berikut informasi dari akun anda:
            </p>
            <ul>
                <li><strong>Nama: <%= fullname %></strong></li>
                <li><strong>Email: <%= email %></strong></li>
                <li><strong>Tanggal Pendaftaran: <%= createdAt %></strong></li>
            </ul>
            <p>Untuk memulai silahkan klik tombol berikut: </p>
            <a href="<%= activationLink %>" class="button">Aktifkan Akun</a>
        </div>
        <div class="footer">
            <p>&copy;</p>
        </div>
    </div>
</body>
</html>